body
{
width:100%;
background-color: rgb(220,218,215)

}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: hsla(0,0%,100%,.98);
    transition: box-shadow .25s ease 0s;
    background-color: rgb(220,218,215)
    
}
.initial
{
    display: flex;
    justify-content: space-around;
}
.navigation ul
{
    
    display: flex;
    list-style-type: none;
    margin-right: 10px;
    padding-top: 15px;
}
.navigation li
{
    font-size: 1.4em;
    margin-right: 20px;
}
.navigation a
{
    color: gray;
    text-decoration: none;
}
.navigation a:hover
{
    color: aqua;
}
.drop
{
    display:none;
    position: absolute;
    margin-left: -90px;
}
.logo
{
    display: block;
    margin:  auto;
    margin-top: 30px;
}
.titre
{
    text-align: center;
    margin-top: 70px;

}
.titre i
{
    color:darkolivegreen;
    font-weight:lighter;
    font-size: 35px;
    font-family: 'Quicksand', sans-serif;

}
.texts
{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.textone
{
    margin-top: 20px;
    line-height: 25px;
    padding: auto;
    width: 37%;
    height: auto;
    color: grey;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: -100px;

}
.texttwo
{
    margin-top: 20px;
    line-height: 25px;
    padding: auto;
    width: 37%;
    height: auto;
    color: grey;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: -190px;

}
.gbb
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 70px;
    margin:0 10px 0 10px;
    

}
.gbb h2,h3
{
    color: white;
}
.green
{

    margin:0 10px 0 10px;
    font-style: italic;
    font-size: 1.2em;
    color: antiquewhite;
    width: 22%;
    background-color: rgb(61, 143, 132);
    border-radius: 15px;
    height: 350px;
    
}
.green h2,h3
{
    padding: 24px 20px 0 20px;
    text-align: center;

}
.blue h2,h3
{
    padding: 24px 20px 0 20px;
    text-align: center;

}
.black h2,h3
{
    padding: 24px 20px 0 20px;
    text-align: center;

}
.blue
{
    margin:0 10px 0 10px;
      font-style: italic;
    font-size: 1.2em;
    color: antiquewhite;
    width: 22%;
    background-color: rgb(64, 123, 201);
    border-radius: 15px;
    height: 350px;
    
}
.black
{
 
    margin:0 10px 0 10px;
    font-style: italic;
    font-size: 1.2em;
    color: antiquewhite;
    width: 22%;
    background-color: #5c6468;

    border-radius: 15px;
    height: 350px;
}   
.green:hover
{
    color: aquamarine;
}
.blue:hover
{
    color: aquamarine;
}
.black:hover
{
    color: aquamarine;
}
.style-select
{
    padding: 80px 0 10px 0;
}
.butonun
{
  

  background: none;
  color:black;
  border-width: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-family:Roboto,sans-serif;
  font-size: large;
  text-decoration: underline;
  height: 44px;
  position: relative;
  bottom: 15px;
  left: 5px;
  text-align: center;
  width: 150px;
}
.butondeux
{
  
 
  background: none;
  color:black;
  border-width: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-family:Roboto,sans-serif;
  font-size: large;
  text-decoration: underline;
  height: 44px;
  position: relative;
  bottom: -12px;
  left: 5px;
  text-align: center;
  width: 150px;
}
.butontrois
{
    background: none;
  color:black;
  border-width: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-family:Roboto,sans-serif;
  font-size: large;
  text-decoration: underline;
  height: 44px;
  position: relative;
  bottom: 15px;
  left: 5px;
  text-align: center;
  width: 150px;

}
.fondvert
{
    margin-top: 45px;
    background-color:rgb(155,248,240) ;
    display: flex;
    justify-content: center;
}
.bloc
{

    display: flex;
    justify-content: space-around;
    height: 75%;
    padding-top: 12px;
    padding-bottom: 12px;

}
.fondvert p,h4,h2
{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: rgb(61,126,118);
}
.blocun
{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-right: 8px;
    
}
.blocdeux
{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    
}
.uno,.dos,.tres,.quatro
{
    background-color: rgb(220,218,215);
    height: 270px;
    width: 250px;
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 12px;
    margin-right: 10px;
    margin-bottom: 12px;
 }
 .bloctext
 {
    padding-top: 50px;
    font-size: 25px;
 }
 .textduvert h2 
 {
    font-style: italic;
    font-weight: inherit;
    font-size: 45px;
 }
 .textuno
 { 
    position: relative;
    top: 20px;
 }
 .textuno p
 {
    font-size: 13px;
 }
 .fondvert img
 {
    width: 45px;
    height: 40px;
 }
 .textuno h4 
 {
    font-size: 25px;

 }
.textduvert
{
    margin-right: 120px;
    margin-top: 150px;
}
.lesvilles
{
    display: flex;
    justify-content: center;
    cursor: pointer;
    
}
.wic
{
    display: flex;
    flex-direction: column;
    margin-right: 12px;

}
.brm
{
    display: flex;
    flex-direction: column;
    margin-right: 12px;

}
.mb
{
    display: flex;
    flex-direction: column;
    margin-right: 12px;

}
#wesht
{
    display: flex;
    justify-content: center; 
    justify-content: space-around;
}
#wesh:hover
{
    background-color:rgb(220,218,215);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}
#wesh img
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.warsaw
{
    border-radius: 8px;
}
.villes
{
    margin-top: 55px;
}
#wesht h5
{
    color:rgb(106,115,119);
    font-size: 20px;
    position: relative;
    bottom: 32px;
}
#wesht button
{

  
  background-color: #2f80ed;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  width: 120px;
  text-align: center;
  text-decoration: none;
  border: none;
}
#wesht button:hover
{
    background-color:darkblue;
}
.bff
{
    margin-top: 85px;
    margin-bottom: 80px;
}
.bientot
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bientot p
{
    font-size: 50px;
}
.bientot button
{
    background-color: #2f80ed;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
    height: 70px;
    width: 320px;
    text-align: center;
    text-decoration: none;
    border: none;

}
footer 
{
    text-align: center;
}
footer a 
{
    text-decoration: none;
}
